/*
key page rules:
	margin-left: 120px;
*/


*	{
	box-sizing: border-box;
}


.navigation {
	margin-left: -10px;
	margin-top: -10px;
	width: 100%;
	display: inline-block;
	background: blue;

}

.sprint-nav	{
	/*h3 styler used to change positioning of rest of text*/
	margin-left: 90px;
}

nav {
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	color: red;

}

.title	{
	margin-left: -10px;
	background: red;
	text-align: center;
	width: 100%;
	padding: 10px 0 10px 0;

}

.sprint-title	{
	color: white;

}


.sprint-tag	{
	color: white;
	margin-top: -20px;

}

.copy-tag {
	width: 460px;
	color: red;
}

.opening-text {
	margin-left: 120px;
	width: 460px;
	text-align: justify;

}

.success-stories	{
	margin-left: 120px;

}


.success-circle	{

}


.view-client	{

}


.success-content	{

}


.image-2	{

}


.social	{

}

footer {
	text-align: center;

}