/*
key page rules:
	margin-left: 4rem/64px;
	font-color: #de5801; - orange color
*/


// 2. add additional div section for part of website to make circles float effectively at 850px
/* position relative on outside circle & peg it inside using absolute positoning inside center
http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ - from right at the start
*/



$sprint-orange: #de5801;
$sprint-blue: #053e6e;
$margin: 4rem;
$font-size: 1.55em;


* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}


@font-face {
	/*font-family: din-pro ask how to upload a dl font file;*/
	src: url(sprint-2/din-pro:ttf)
	// google font converter.
}

.page-wrap {
	width:100%;
} 

.navigation {
	margin-top: -1px;
	width: 100%;
	margin-bottom: 0.5rem;
}

.nav-icon {
	display:none;
	// display activated later on using a media query
	top:0.75em;
	margin-top: 1em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.nav-icon, .nav-icon:before, .nav-icon:after {
	content:"";
	position:absolute;
	right: 2em;
	width: 3em;
	height: 6em;
	border-top: 0.35em solid #de5801;
	padding-top: 1em;
	padding-bottom: 2em;
	border-radius: 5px;
	// pseudo elements given coloring and positioning above the nav icon one for 3 line burger bar
}

// increase padding by adding padding to before & after icon?

.sprint-nav	{
	/*h3 styler used to change positioning of rest of text*/
	font-size: 4rem;
	text-align: center;
	margin-right: 2rem;
}

.shadow-2 {
	padding: 0rem 2rem 1rem 2rem;

}

.shadow {
	padding: -4rem;
	margin: 0;
}

.shadow:hover, .shadow-2:hover {
 	box-shadow: 0px 15px 5px -4px rgba(222, 88, 1, 0.87);
 	border-radius: 45px;
}

.shadow-2:hover {
 	box-shadow: 0px 15px 5px -4px rgba(222, 88, 1, 0.87);
 	border-radius: 45px;
}

#sprint-nav {
	padding-bottom: 0;
	margin-bottom: 0.75rem;
	// h3 large issue largely a result of the sprint nav
}


li {
	display: inline-block;
	padding-left: 35px;
	padding-right: 35px;
	color: white;
	font-size: 1.5em;
 	color: $sprint-orange;
 	cursor: pointer;
}

.title	{
	margin-top: 0rem;
	text-align: center;
	width: 100%;
	padding: 10px 0 10px 0;
	background-image: url("../images/tag-image.png");
	// two dots represents go back. need a relative path file
}

.sprint-title	{
	color: white;
	font-size: 8.5em;
	margin-top: 2rem;
	margin-bottom: 0rem;
}

.sprint-tag	{
 	color: white;
  	font-size: 3.0em;
  	width: 80%;
  	margin: auto;
  	padding-bottom: 2rem;
	// when element width reduced automatically aligned & restricted. to center margin: auto;
}

.opening-text {
	margin-top: 2rem;
	margin-bottom: 4rem;
	width: 48rem;
	margin-left: 10%;
}

.copy-tag {
	color: #de5801;
	font-size: 2.1rem;
	width: 70%;
}

.opening-p	{
	margin-top: auto;
	width: 70%;
	font-size: 1.55em;
	color: #053e6e;
}



.cartoon-1 {
	position: relative;
	top: -15rem;
	margin-left: 80%;
	max-height:26%; 
	max-width:26%;
}

.success-stories {
	margin-top: -16rem;
	background-color: #053e6e;
	padding: 2rem 0 0 0;
	height: 18rem;
}

.success-content {
	font-size: 1.55em;
	width: 40%;
	color: white;
	float: right;
	margin-right: 22%;
	padding-bottom: -45rem;
}

.success-circle {
	display: inline-block;
	background-color: white;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	bottom: 5rem;
	border: 0.5rem solid #2E90C1;
	position: relative;
	bottom: 22.7rem;
	left: 12%;
	cursor: pointer;
	// cursor used to control mouse icons
}

.success-circle:before {
	content: "VIEW CLIENT SUCCESS STORIES";
	color: #5b5e5e;
	position: absolute;
	top: 4.5rem;
	left: 0.6rem;
	text-align: center;
	font-size: 1.3em;
	text-shadow: 0.5px 0.5px 0.5px #5b5e5e;
	transform: rotate(-20deg);
	// hyperlinked using JS/Jquery
}

.success-circle-2 {
	background-color: white;
	width: 300px;
	height: 300px;
	border: 0.5rem solid #2E90C1;
	border-radius: 50%;
	position: relative; 
	bottom: 70px;
	margin-left: 10%;
}

.success-circle:hover{
	background-color: rgba(38, 152, 214, 0.3);
}

.image-2 {
	 background-image: url("../images/tag-image.png");
	 width: 100%;
}


.final {
	background-color: rgba(223, 215, 215, 0.4);
	margin: auto;
}

.social {
	margin-top: -1rem;
	padding: 3rem 0 3rem 0;
	text-align: center;
}


.share-button {
	font-size: 1.5em;
	text-align: center;
	padding-right: 4rem;
	padding-left: 1.5rem;
	color: #999999;

}

footer {
	text-align: center;
	padding-bottom: 3rem;
	color: #999999;
}

.img-2 {
	width: 100%;
	height: 200px;
}

// main page completed - responsive design used to determine next lines
// key breakpoints

// 1200 desktop


// 800px tablet breakpoint
// 500px mobile breakpoint


// 1100px flexpoint
@media only screen and (max-width: 1100px) {
	.success-stories {
		width: 100%;
	}

	.success-circle-2 {
		margin-left: 2.5rem;
	}

	.success-circle {
		margin-left: -3.5rem;
	}

	.navigation {
		text-align: center;
	}
}


// 960px flexpoint
@media only screen and (max-width: 960px) {

	.shadow {
		margin-left: -6%;
	}

	.shadow-2 {
		padding-right: 0;
		padding-left: 1rem;
	}

	.title {
		margin-top: 1rem
	}

	.sprint-title {
		font-size: 7.5em;
	}

	.sprint-tag {
		font-size: 2.5em;
		width: 90%;
	}

	.opening-text {
		margin-left: 8%;
	}

	.cartoon-1 {
		margin-top: 2rem;
		margin-right: 20%;
	}

	.success-circle-2 {
		margin-left: 4%;
		width: 270px;
		height: 270px;
	}

	.success-circle {
		margin-right: -5.5%;
		margin-top: 5%;
		width: 225px;
		height: 225px;
	}

	.success-circle:before {
		font-size: 1.2em;
		position: absolute;
		bottom: 2em;
	}

	.success-content {
		width: 50%;
		padding-right: -3rem;
		margin: auto;
		position: relative;
		right: 4rem;
	}

	.img-2 {
		width: 100%;
		height: 150px;
		// image height won't budge. research why
	}
}

// 850px flexpoint

@media only screen and (max-width: 850px) {
	.sprint-title {
		font-size: 5em;
	}

	.sprint-tag {
		font-size: 2em;
	}

	.copy-tag {
		width: 63%;
		font-size: 1.5em;
	}

	.opening-text {
		margin-left: 5%;
	}

	.opening-p {
		width: 64%;
		margin-top: -1rem;
		font-size: 1.2em;
	}


	

 	.success-circle, .success-circle-2, h2 {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	 }

	.cartoon-1 {
		max-width: 23%;
		max-height: 23%;
		position: relative;
		right: 20%;
		margin-top: 6%;
	}

	.main-circle {
		margin-left: 3%;
	}

	.success-content {
		margin-top: 0%;
		font-size: 1.25em;
		margin-bottom: -5em;

	}

	.success-stories {
		max-height: 225px;
		// max-height& px used over % and rem as less complicated
	}



	.success-circle {
		width: 200px;
		height: 200px;
		margin-top: 10%;
		padding-top: 1rem;
		margin-left: 3%;

	}

	.success-circle-2 {
		// need to use relative percentage values instead
		margin-left: 2rem;
		width: 240px;
		height: 240px;
	}

	.success-circle:before {
		font-size: 1em;
		margin-bottom: 1%;
		// position: absolute;
	}

	.opening-text {
		margin-left: 2%;
	}

	.copy-h3, {
		width: 78%;
	}
	 .opening-p {
	 	width: 50%;
	 	display: block;
	 }

	 .cartoon-1 {
	 	margin-left: 75%;
	 	margin-top: 3%;
	 }

	 .success-circle-2 {
	 	margin-top: 3%;
	 	margin-left: 1%;
	 }

	 .success-circle, {
	 	margin-top: 9.5%;
	 	margin-left: -8.8%;
	 }


}


@media only screen and (max-width: 714px) {

	.title 
		{
			margin-top: 5rem;
		}

 	.navigation { 
 		max-width: 50%;
 		margin-left: -10%;
 		float: left;
 		display: block;
 		text-decoration: none;
 		overflow: hidden;
 		background-color: rgba(232, 143, 92, 0.3)
 	}

	.shadow {
	display: none;
	}

	.shadow-2:hover, .shadow:hover {
 	box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
 	border-radius: none;
 	display: block;
	}

	.shadow-2 {
 	text-decoration: none;
 	color: white;
 	display: block;
 	}

	.sprint-title {
	margin-top: 1.5%;
	padding-bottom: 3%;
	}

	.nav-icon { 
		display: inline; 
		float: left;
		position: absolute;
		left: 1.5rem;
	}

	.nav-icon:before {
		top:0.25em;
		left:0;
	}
	.nav-icon:after {
		top:0.75em;
		left:0;
	}

	.success-content {
		float: right;
		padding-left: 5%;

	}

	footer {
		margin-top: -3%;
	}
}

@media only screen and (max-width: 500px) {

	li ul .nav {
		display: table;
		margin-left: 10%;
		width: 120px;
	}


	.sprint-title {
		margin-top: 10%;
		font-size: 58px;
		padding-bottom: 2rem;
	}

	.sprint-tag {
		font-size: 23px;
		padding-bottom: 2rem;
	}

	.copy-h3, .cartoon-1, .success-content, .success-circle-2 { 
		display: none;

	}

	.opening-p {
		margin: 0% 0 2% 3%;
		text-align: center;
		font-size: 20px;
		color: black;
	}

	.opening-text  {
		display: inline-block;
	}

	.success-stories {
		margin-top: -10%;
	}

	.success-circle:before {
	content: "VIEW CLIENT SUCCESS STORIES";
	color: #5b5e5e;
	text-align: center;
	font-size: 1em;
	position: absolute;
	padding-bottom: 10%;
	text-shadow: 0.5px 0.5px 0.5px #5b5e5e;
	transform: rotate(0deg);
	}

	.success-circle {
		border-radius: 0;
		padding: 1rem 0 1rem 0;
		width: 50%;
		margin-left: 12%;
		position: relative;
		top: -4rem;
	}

	.success-circle:hover {
		background-color: rgba(212, 239, 247, 0.9);
	}


	.success-circle-2 {
		display: none;
	}

	.social-img, .share-button {
		display: none;

	}


	.final {
		height: 200px;
	}

	footer {
		position: relative;
		bottom: 60px;
	}


}




